
<link rel="stylesheet" href="{{ url_for('static', filename='css/proyecciones.css') }}" class="facebook-style">


<h2>Proyecciones de mujeres:</h2>
<p>Mostrando {{ count_f }} personas:</p>
<table class="facebook-table">
    <tr>
        <th>Nombre</th>
        <th>Género</th>
        <th>Amigos</th>
    </tr>
    {% for proyeccion in proyecciones_f %}
        <tr>
            <td>{{ proyeccion.name }}</td>
            <td>{{ proyeccion.gender }}</td>
            <td>
                {% for amigo in proyeccion.friends_info %}
                    {{ amigo.email }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

<h2>Proyecciones de hombres:</h2>
<p>Mostrando {{ count_m }} personas:</p>
<table class="facebook-table">
    <tr>
        <th>Nombre</th>
        <th>Género</th>
        <th>Amigos</th>
    </tr>
    {% for proyeccion in proyecciones_m %}
        <tr>
            <td>{{ proyeccion.name }}</td>
            <td>{{ proyeccion.gender }}</td>
            <td>
                {% for amigo in proyeccion.friends_info %}
                    {{ amigo.email }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

<form method="POST">
    <button type="submit" name="submit_button" value="Home">Home</button>
</form>