<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Facebook- log in or sign up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header> 
        <div class="logo"><strong>facebook</strong></div>
        <div class="login">
            <form action="/login" method="post">
                <div class="box1">
                    <span><strong>Email</strong></span><br>
                    <input style="color: rgb(0, 0, 0);" type="text" name="emailLogin" placeholder="Email"><br>
                    <input type="checkbox"> Keep me logged in
                </div>
                <div class="box2">
                    <span><strong>Password</strong></span><br>
                    <input style="color: rgb(0, 0, 0);" type="password" name="passwordLogin" placeholder="Password"><br>
                    <a href="#"> <span>Forgot your password?</span></a>
                </div>
                <div class="firstbutton">
                    <button type="submit">Log in</button>
                </div>
            </form>
        </div>
    </header>
    <section>
        <div class="row">
             <div class="left col-md-6">
                <h1>Connect with friends and the <br>world around you on facebook </h1>
                <br>
                <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
                 <span>See photos and updates</span>&nbsp;&nbsp;&nbsp; from friends in News Feed.
                <br>
                <i class="fa fa-object-group fa-3x" aria-hidden="true"></i>
                <span>See what's new</span> &nbsp;&nbsp;&nbsp;&nbsp;in your life on your Timeline.
                <br>
                <i class="fa fa-snowflake-o fa-3x" aria-hidden="true"></i>
                <span>&nbsp;&nbsp;Find more</span>&nbsp;&nbsp;&nbsp;&nbsp; of what you're looking for with Facebook Search.
            </div>

            <div class="right col-md-6">
                <!--SIGN UP SECTION-->
                <h1>Sign Up</h1>
                It's free and always will be
                <br><br>
                <form action="/" method="post">
                <input type="text" name= "name" placeholder="First name">
                <input type="text" name= "last_name" placeholder="Last name">
                <br>
                <div class="other">
                    <input type="text" name= "email" placeholder="Email">
                    <br>
                    <input type="text" name= "email2" placeholder="Secondary Email">
                    <br>
                    <input type="password" name= "password" placeholder="Enter password">
                    <br>
                    <input type="text" name= "country" placeholder="Enter your country">
                    <br><br>
                </div>
              
                <br>
               
                <span class="gender">
                    <input type="radio" name="gender" id="female" value="Female">
                    <label for="female">Female</label>
                    <input type="radio" name="gender" id="male" value="Male">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" id="other" value="Other">
                    <label for="other">Other</label>
                  </span>
                  
                  
                  
                <br><br>
                <span class="policy">By clicking Sign up,you agree to out <a href="#">Terms</a> and that you have<br>read our <a href="#">Data Policy</a>, including our <a href="#"> Cookie Use</a>.</span>
                <br><br>
                <button class="submit btn btn-block" type="submit">Sign Up</button>
                <br>
                <br>
                <br>
            </form>
            </div>
        </div>
    </section>

</body>
</html>